<h1>Listing todos</h1>

<div class="container">
  <div class="row">
    <div class="col-md-8">Title</div>
    <div class="col-md-4">Actions</div>
  </div>
  
   <% @todos.each do |todo| %>
      <div class="row">
        <div class="col-md-6 <%= ' important' if todo.important == true %>"><%= todo.title %></div>
        
        <div class="col-md-6">
          <%= link_to 'Show', todo, class: 'btn btn-default' %>
          <%= link_to 'Edit', edit_todo_path(todo), class: 'btn btn-success' %>
          <%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
         </div>
      </div>
    <% end %>
</div>

<br>

<%= link_to 'New Todo', new_todo_path %>
