
<%= link_to 'New Todo', new_todo_path, class: 'btn btn-success' %>
<%= @filter %>

<form action="/todos">
  All <input <%= 'checked="checked"' if @filter == 'all' %> name="filter" value="all" type="radio" />
  Not Finished <input <%= 'checked="checked"' if @filter == 'notFinished' %> name="filter" value="notFinished" type="radio"/>
  Finished <input <%= 'checked="checked"' if @filter == 'finished' %> type="radio" name="filter" value="finished" />
  <input type="submit" class="btn btn-success" value="Filter"/>
</form>
<div class="container">
  <div class="row">
    <div class="col-md-8">Title</div>
    <div class="col-md-4">Actions</div>
  </div>
  
   <% @todos.each do |todo| %>
      <div class="row">
        <div class="col-md-6 <%= ' important' if todo.important == true %>"><%= todo.title %></div>
        
        <div class="col-md-6">
          <%= link_to 'Show', todo, class: 'btn btn-default' %>
          <%= link_to 'Edit', edit_todo_path(todo), class: 'btn btn-success' %>
          <%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
         </div>
      </div>
    <% end %>
</div>

<br>


